%h1 All Specials
= link_to 'New Special', [:new, :admin, :special], :class => 'btn-primary btn btn-new'

= paginate @specials

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th.title Title
      %th.description Description
      %th.price Price
      %th= link_to 'Reorder Specials', [:reorder, :admin, :specials], class: 'btn btn-info btn-reorder'

  %tbody
    - @specials.each do |special|
      %tr
        %td.title= special.title
        %td.description= special.description
        %td.price= price(special.price_pound, special.price_pence)
        %td
          = link_to 'View', [:admin, special], :class => 'btn'
          = link_to 'Edit', [:edit, :admin, special], :class => 'btn btn-primary'
          = link_to 'Delete', [:admin, special], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger'

= paginate @specials
