%h1 #{@section.name.titleize} / All Categories
= link_to 'New Category', [:new, :admin, @section, :category], :class => 'btn-primary btn btn-new'

= paginate @categories

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th.title Category
      %th.description Description
      %th.image Image
      %th= link_to 'Reorder Categories', [:reorder, :admin, @section, :categories], class: 'btn btn-info btn-reorder'

  %tbody
    - @categories.each do |category|
      %tr
        %td.title= category.name
        %td.description= category.description
        %td.image= image_tag category.image.thumb.url
        %td
          = link_to 'View', [:admin, @section, category], :class => 'btn'
          = link_to 'Edit', [:edit, :admin, @section, category], :class => 'btn btn-primary'
          = link_to 'Delete', [:admin, @section, category], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger'

= paginate @categories
